@font-face {
  font-family: "Graphik";
  src: url(./font/GraphikBold.otf), url(./font/GraphikLight.otf),
    url(./font/GraphikMedium.otf), url(./font/GraphikRegular.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --primary-font: "Graphik";
  --primary-color: #008a00;
  --brown: #af1000;
  --white: #fffff;
  --black: #000000;
}
