@font-face {
  font-family: "Graphik";
  src: url(./font/GraphikRegular.otf), url(./font/GraphikLight.otf),
    url(./font/GraphikBold.otf);
}

@font-face {
  font-family: "GraphikExtraLight";
  src: url(./font/GraphikExtralight.otf);
}

@font-face {
  font-family: "GraphikLight";
  src: url(./font/GraphikLight.otf);
}

@font-face {
  font-family: "GraphikMedium";
  src: url(./font/GraphikMedium.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --primary-font: "Graphik";
  --secondary-font: "GraphikLight";
  --medium-font: "GraphikMedium";
  --primary-color: #008a00;
  --brown: #af1000;
  --white: #ffffff;
  --black: #000000;
  --ash: #1c1c1c;
}

.container {
  width: 1200px !important;
}

/* Navbar Start */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar .navItems {
  margin-left: 80px;
}

.navbar ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navbar ul li {
  padding: 25px 20px;
}

.navbar ul li a {
  color: var(--primary-color);
  font-weight: 400;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #888;
}

.en-nav-item {
  padding-right: 0px !important;
}

.en-nav-item #border {
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.login-nav-item {
  padding-left: 15px !important;
}

/* mobile navbar */

.mobile-nav-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: 0.5s;
}

.login-mobile a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 300;
  display: none;
}

.navOpen {
  display: none;
}

.navOpen i {
  font-size: 1.5em;
  color: var(--primary-color);
  cursor: pointer;
}

.mobile-logo {
  display: none;
  margin-left: 30px;
}

.mobile-navbar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: var(--white);
  z-index: 99999 !important;
  transition: 0.5s;
}

.mobile-navbar.open {
  left: 0;
}

.mobile-nav-logo {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.mobile-nav-logo img {
  width: 30px;
  height: 30px;
}

.mobile-nav-logo i {
  font-size: 1.5em;
  cursor: pointer;
}

.mobile-navbar ul li {
  margin: 8px 15px;
  padding: 0px 0 9px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.mobile-navbar ul li a {
  color: var(--black);
}

.mobile-navbar ul li a i {
  width: 20px;
}

@media screen and (max-width: 990px) {
  .navbar ul {
    display: none;
  }

  .logo {
    display: none;
  }

  .login-mobile a {
    display: block;
  }

  .mobile-logo {
    display: block;
  }

  .navOpen {
    display: block;
  }

  /* .mobile-navbar {
    visibility: visible;
    left: 0;
  } */

  .mobile-navbar ul {
    display: block;
  }
}

/* Navbar End */

/* Hero Start */

#hero {
  background: url(./image/hero-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100%;
  padding: 40px 0;
}

.form-header {
  font-family: var(--primary-font);
  font-size: 1.6em;
  font-weight: 700;
  color: #1a5336;
  margin-bottom: 30px;
}

.login-form {
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 40px 0 40px;
}

.login-form .input-label {
  width: 100%;
<<<<<<< Updated upstream
  font-family: var(--secondary-font);
  color: #1c1c1c;
  font-size: 18px;
  padding: 5px 0 10px 0;
=======
  font-family: var(--primary-font);
  color: #888;
  font-weight: 200;
  font-size: 1.2em;
  padding-bottom: 8px;
>>>>>>> Stashed changes
}

.login-form .password-label {
  margin-top: 40px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  height: 40px;
  width: 100%;
  border: 1px solid #797979 !important;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  outline: none;
  border-bottom: 3px solid var(--primary-color);
}

.login-form input[type="text"]:hover,
.login-form input[type="password"]:hover {
  border-bottom: 3px solid var(--primary-color);
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-top: 1px solid var(--black);
}

#alertText,
#alertPass {
  font-size: 13px;
  margin-top: 10px;
  font-family: var(--primary-font);
  font-weight: 500;
}

.checkbox {
  margin-top: 15px;
}

.checkbox input[type="checkbox"] {
  accent-color: var(--primary-color);
  border: 4px solid var(--primary-color);
  border-radius: none;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 3px;
  position: relative;
  width: 17px;
  height: 17px;
  outline: none;
  /* -webkit-appearance: none; */
  outline: none;
}

.checkbox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
}

.checkbox input[type="checkbox"]:hover {
  accent-color: var(--primary-color);
}

.checkbox label {
  font-size: 1.2em;
  color: var(--ash);
  font-family: var(--secondary-font);
}

.login-btn {
  margin: auto;
  display: block;
  padding: 7px 80px;
  border: 2px solid #ccc;
  color: #ccc;
  font-weight: 700;
  margin-top: 30px;
}

.forgot-link {
  margin-top: 30px;
  margin-bottom: 50px;
}

.forgot-link a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  display: block;
  text-align: center;
}

.forgot-link a:hover {
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: 700;
}

.signup-call a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--medium-font);
  font-size: 1em;
}

.signup-call a:hover {
  text-decoration: underline;
}

.signup-call a i {
  margin-left: 3px;
  font-size: 14px;
}

.signup-bottom-link span {
  font-weight: 300;
}

.signup-bottom-link i {
  color: var(--primary-color);
  margin-right: 5px;
  font-size: 1.2em;
}

.signup-devider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 10px;
}

#section-devider {
  background-color: #1a5336;
  height: 5px;
  width: 100%;
}

.text-find {
  font-family: var(--secondary-font);
  text-align: left;
  letter-spacing: 0;
  opacity: 1;
  font-size: 16px;
}

@media screen and (max-width: 990px) {
  #hero {
    background: none;
  }

  .login-form {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
  }

  .signup-call {
    margin-top: 50px;
  }

  .checkbox input[type="checkbox"] {
    transform: none;
  }

  .signup-call .signup-call-hr {
    z-index: -1 !important;
  }
}

/* Hero End */

/* Footer Start */

.footer-header h3 {
  font-size: 1.5em;
  color: var(--black);
  text-align: center;
  font-weight: 300;
  margin: 50px 0 40px;
}

.footer-header h3 a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

.footer-header h3 a i {
  font-size: 16px;
}

.footer-nav-items ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.footer-nav-items ul li a {
  text-decoration: none;
  color: #616161;
  font-size: 13px;
}

.footer-tables {
  margin-top: 30px;
}

.footer-table {
  border: 1px solid var(--primary-color);
  font-size: 0.9em;
  color: #616161;
  font-weight: 300;
  padding: 8px;
  text-align: center;
}

.footer-text {
  color: #616161;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.copyright-text {
  color: #616161;
  font-size: 14px;
  margin-bottom: 30px;
}

/* Footer End */

/* Card Payment Form CSS Start */
.padding {
  padding: 5rem !important;
}

/* Card Payment Form CSS Start */
.form-control:focus {
  box-shadow: 10px 0px 0px 0px #ffffff !important;
  border-color: var(--primary-color);
}
/* Card Payment Form CSS End */

/* Alert Box CSS */
.alert {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
}

.alert-icon i {
  font-size: 3.5rem;
  color: #af1000;
  display: block;
  text-align: center;
}
/* Alert Box CSS */
