@font-face {
  font-family: "Graphik";
  src: url(./font/GraphikRegular.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --primary-font: "Graphik";
  --primary-color: #008a00;
  --brown: #af1000;
  --white: #fffff;
  --black: #000000;
}

/* Navbar Start */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  padding-left: 20px;
}

.navbar ul li a {
  color: var(--black);
  font-weight: 400;
  text-decoration: none;
}
/* Navbar End */

/* Card Payment Form CSS Start */
.form-control:focus {
  box-shadow: 10px 0px 0px 0px #ffffff !important;
  border-color: var(--primary-color);
}
/* Card Payment Form CSS End */
